<div class="jumbotron">
  <div class="container">
    <h1>Welcome! SignUp <%= link_to "Here", new_user_registration_path%> <small>Or <%= link_to "Login", new_user_session_path %></small></h1>
  </div>
</div>